//  ---------- COLORS ---------- \\
$color-red-10t: #CD1414;
$color-blue-10t: #000066;
$color-yellow-10t: #FF9900;
$color-white-10t: #FFFFFF;

// ---------- FONTS ---------- \\

// Body font
$body-font: 'Roboto', sans-serif;