.timer-container{
    @include verticalCenterColumn;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}    
.timer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.digits{
    font-family: 'Digital Numbers', sans-serif;
    font-size: 1.5rem;
    color:  #000;
}
